$padding-x: 25px;
$border-size: 0px;

$height: 300px;
$width: ($height * 2) - ($padding-x * 2) - ($border-size * 2);

main {
  background-color: black;

  height: $height;
  width: $width;

  padding: 0 $padding-x;

  border: white solid $border-size;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  position: relative;

  overflow: hidden;

  img {
    border-radius: 125px;
    height: 125px;
  }

  p {
    margin: 15px 0;
    color: white;

    &.title {
      font-size: 1.8rem;
    }
  
    &.description {
      font-size: 0.9rem;
    }
  }

  .bullets {
    display: none;
    $size: 20px;

    span {
      background-color: white;
      
      height: $size * 2;
      width: $size * 2;

      // border-radius: $size;

      transform: rotate(45deg);

      position: absolute;
    }

    :nth-child(1) {
      top: -$size;
      left: -$size;
    }

    :nth-child(2) {
      top: -$size;
      right: -$size;
    }

    :nth-child(3) {
      bottom: -$size;
      left: -$size;
    }

    :nth-child(4) {
      bottom: -$size;
      right: -$size;
    }
  }
}